@using global::Facade
@model Facade.PatientListViewModel
@{
    ViewBag.Title = "Patients";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndexPageForPatients</title>
</head>
<body>
    <p>
        <a href="/Patient/AddNew">Add New</a>
    </p>
<table class="table">
    <tr>
        <th>Patient Name</th>
        <th>IdCode</th>
        <th>Problem</th>
        <th>Valid from</th>
        <th>Valid to</th>
    </tr>
    @foreach (var item in Model.Patients)
    {
        <tr>
            <td>@item.PatientName</td>
            <td>@item.IdCode</td>
            <td style="background-color: @item.ProblemColor">@item.Problem</td>
            <td>@item.ValidFrom.ToString("dd/MM/yyyy")</td>
            <td>@item.ValidTo.ToString("dd/MM/yyyy")</td>
        </tr>
    }
</table>
@*<div>
    <table>
        <tr>
            <th>Patient Name</th>
            <th>Id Code</th>
            <th>Problem</th>
            <th>Valid from</th>
            <th>Valid to</th>
        </tr>
        @foreach (PatientViewModel item in Model.Patients)
        {
            <tr>
                <td>@item.PatientName</td>
                <td>@item.IdCode</td>
                <td style="background-color: @item.ProblemColor">@item.Problem</td>
                <td>@item.ValidFrom.ToString("dd/MM/yyyy")</td>
                <td>@item.ValidTo.ToString("dd/MM/yyyy")</td>
            </tr>
        }
    </table>
</div>*@
</body>
</html>
