@model Patient
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyView</title>
</head>
<body>
    <div>
        <b>Patient Details</b><br/>
        Patient Name: @Model.FirstName @Model.LastName <br/>
        Patient IdCode: @Model.IdCode <br/>

        @if (Model.Problem == "Head")
        {
            <span style="background-color: crimson">
                Patient Problem: @Model.Problem <br/>
            </span>
        }
        else
        {
            <span style="background-color: indigo">
                Patient Problem: @Model.Problem <br/>
            </span>
        }
        
        Patient Valid From: @Model.ValidFrom.ToString("yyyy-MM-dd") <br/>
        Patient Valid To: @Model.ValidTo.ToString("yyyy-MM-dd") 
    </div>
</body>
</html>
